@model IEnumerable<RecNote.WebApp.Models.ServiceType>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTypeDescription)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTypeDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ServiceTypeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ServiceTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ServiceTypeId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
