@model RecNote.WebApp.Models.Maintenance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maintenancetype.MaintenanceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maintenancetype.MaintenanceDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
